:root {
  --content-color: #17252A;
  --bg-color-first: #3AAFA9;
  --bg-color-second: #DEF2F1;
  --btn-color: #2B7278;
  --bg-color: #FEFFFF;
  --border-color: #FEFFFF;
  --bg-color-prjects: #353535;
  --color-prjects: #FEFFFF;
  --title-prjects: #2B7278;
  --skill-bar-color: #2B7278;
  --welcome-page-label-color: #FEFFFF;
  --skills-experience-color: #17252A;
  --welcome-title-color: #17252A;
}

body.dark-theme {
  --content-color: #C5C6C7;
  --bg-color-first: #1F2833;
  --bg-color-second: #45A29E;
  --btn-color: #66FCF1;
  --bg-color: #0B0C10;
  --border-color: #0B0C10;
  --bg-color-prjects: #353535;
  --color-prjects: #FEFFFF;
  --title-prjects: #66FCF1;
  --skill-bar-color: #1F2833;
  --welcome-page-label-color: #66FCF1;
  --skills-experience-color: #1F2833;
  --welcome-title-color: #66FCF1;
}

*,
:before,
:after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
 * * v2.0 | 20110126
 * * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  background: var(--bg-color);
  min-height: 100vh;
}

@media screen and (min-width: 730px) and (max-width: 1439px) {
  .lock {
    overflow: hidden;
  }
}

.lock .wrapper {
  padding-left: 50%;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .lock .wrapper {
    padding-left: 0;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .lock .wrapper {
    padding-left: 0;
  }
}

.wrapper {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--content-color);
}

.link {
  text-decoration: none;
  color: var(--content-color);
}

.label {
  font-size: 18px;
  font-style: italic;
  color: var(--btn-color);
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .label {
    font-size: 16px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .label {
    font-size: 12px;
  }
}

.title {
  font-size: 32px;
  font-weight: 900;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .title {
    font-size: 24px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .title {
    font-size: 24px;
  }
}

.text {
  font-size: 32px;
  font-weight: 400;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .text {
    font-size: 24px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .text {
    font-size: 18px;
  }
}

@-webkit-keyframes scroll_animated {
  99% {
    transform: translate(5px, 5px) scale(0.8);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll_animated {
  99% {
    transform: translate(5px, 5px) scale(0.8);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes top_animated {
  99% {
    transform: rotate(90deg);
    transition: 1s transform linear;
  }
  100% {
    opacity: 0;
  }
}
@keyframes top_animated {
  99% {
    transform: rotate(90deg);
    transition: 1s transform linear;
  }
  100% {
    opacity: 0;
  }
}
.scroll {
  position: fixed;
  z-index: 25;
  bottom: 40px;
  right: 50%;
  -webkit-animation: scroll_animated 500ms linear 11 alternate forwards;
          animation: scroll_animated 500ms linear 11 alternate forwards;
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .scroll {
    right: 20px;
  }
}
.scroll svg {
  fill: var(--btn-color);
}

.back-to-top {
  position: fixed;
  bottom: -150px;
  right: 80px;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 35;
  text-decoration: none;
  padding: 10px 12px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .back-to-top {
    right: 60px;
  }
}
@media screen and (max-width: 729px) {
  .back-to-top {
    right: 0;
  }
}
.back-to-top svg {
  transform: rotate(180deg);
  fill: var(--btn-color);
}

.back_to_top__txt {
  color: var(--btn-color);
}

.active-btn {
  bottom: -15px;
  transition: transform 400ms ease 0ms;
  -webkit-animation: top_animated 500ms linear infinite alternate forwards;
          animation: top_animated 500ms linear infinite alternate forwards;
}

.border > * {
  position: fixed;
  z-index: 20;
  background: var(--border-color);
}

.border__top {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .border__top {
    height: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .border__top {
    height: 0;
  }
}

.border__bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .border__bottom {
    height: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .border__bottom {
    height: 0;
  }
}

.border__left {
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .border__left {
    width: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .border__left {
    width: 0;
  }
}

.border__right {
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .border__right {
    width: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .border__right {
    width: 0;
  }
}

.logo {
  position: fixed;
  font-size: 18px;
  top: 43px;
  left: 80px;
  z-index: 25;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .logo {
    font-size: 16px;
    top: 30px;
    left: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .logo {
    position: absolute;
    font-size: 14px;
    top: 20px;
    left: 20px;
  }
}

.theme-switcher {
  position: fixed;
  right: 80px;
  top: 43px;
  z-index: 25;
  background: none;
  border: none;
  cursor: pointer;
}
.theme-switcher:hover {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.3s linear 0s;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .theme-switcher {
    right: 60px;
    top: 30px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .theme-switcher {
    display: none;
  }
}

.theme-switcher__sun, .theme-switcher__moon {
  fill: var(--btn-color);
}

.theme-switcher__sun {
  display: none;
}

.dark-theme .theme-switcher__sun {
  display: block;
}
.dark-theme .theme-switcher__moon {
  display: none;
}

.burger {
  position: fixed;
  top: 50%;
  z-index: 25;
  display: block;
  width: 48px;
  height: 31px;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .burger {
    left: 53px;
  }
  .burger:hover:before, .burger:hover:after, .burger:hover .burger__line {
    transform: rotate(180deg) scaleY(1.7);
    transition: all 0.3s linear 0s;
  }
  .burger:hover .burger__line {
    left: 0;
  }
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .burger {
    left: 35px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .burger {
    top: 25px;
    right: 25px;
    height: 48px;
    background: var(--bg-color);
    opacity: 0.7;
    border-radius: 50%;
  }
}
.burger:before, .burger:after {
  content: "";
  background-color: var(--btn-color);
  position: absolute;
  width: 48px;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .burger:before, .burger:after {
    width: 26px;
    height: 2px;
    left: 8px;
  }
}
.burger:before {
  top: 0;
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .burger:before {
    top: 17px;
  }
}
.burger:after {
  bottom: 0;
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .burger:after {
    bottom: 17px;
  }
}

.burger__line {
  background-color: var(--btn-color);
  position: absolute;
  left: 8px;
  width: 48px;
  height: 3px;
  top: 14px;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .burger__line {
    width: 26px;
    height: 2px;
    top: 23px;
    left: 14px;
  }
}

.open .burger {
  display: block;
  position: fixed;
  top: 50%;
  left: 22px;
  z-index: 25;
}
.open .burger:hover {
  transform: rotate(180deg) scale(1.2);
  transition: all 0.3s linear 0s;
}
.open .burger:before, .open .burger:after {
  background-color: var(--btn-color);
  top: 13px;
  width: 32px;
}
.open .burger:before {
  transform: rotate(45deg);
}
.open .burger:after {
  transform: rotate(-45deg);
}
.open .burger .burger__line {
  transform: scale(0);
}

.open .scroll {
  right: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .scroll {
    right: 60px;
  }
}
.open .wrapper {
  padding-left: 50%;
}
.open .welcome__title {
  transform: translateX(-50%) scale(1);
  transition-duration: 1000ms linear 0s;
}
.open .welcome__page {
  right: 0;
  transform: translateX(50%) scale(1);
  transition: 500ms linear 0s;
}
.open .welcome__page_content {
  margin-left: 0;
}
@media screen and (min-width: 1000px) and (max-width: 1439px) {
  .open .welcome__page_content {
    margin-left: 50%;
  }
}
@media screen and (min-width: 908px) and (max-width: 999px) {
  .open .welcome__page_content {
    margin-left: 45%;
  }
}
.open .section {
  padding-left: 20px;
}
.open .footer {
  padding-left: 20px;
}

.nav-social {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  right: 0;
  top: 0;
  width: 80px;
  align-items: center;
  z-index: 25;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .nav-social {
    width: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .nav-social {
    display: none;
  }
}
.nav-social .nav-social__link {
  margin: 10px;
}
.nav-social .nav-social__link svg {
  fill: var(--btn-color);
}
.nav-social .nav-social__link:hover {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.3s linear 0s;
}

.menu {
  position: fixed;
  top: 0;
  width: 50%;
  left: -50%;
  min-height: 100vh;
  background: var(--bg-color);
  transition: 0.7s ease 0s;
}
@media screen and (min-width: 730px) and (max-width: 908px) {
  .menu {
    width: 100%;
    left: -100%;
  }
}

.open .menu {
  z-index: 4;
  left: 0;
  display: block;
  padding: 160px;
  transition: 0.7s ease 0s;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .menu {
    padding: 120px 120px 32px;
  }
}
.open .menu__list {
  margin-bottom: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .menu__list {
    margin-bottom: 50px;
  }
}
.open .menu__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .menu__item {
    margin-bottom: 24px;
  }
}
.open .menu__item:last-child {
  margin-bottom: 0;
}
.open .menu__item_link {
  font-size: 32px;
  font-weight: 900;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .menu__item_link {
    font-size: 24px;
  }
}
.open .menu__item_link:hover {
  font-size: 36px;
  transition: all 0.2s linear 0s;
  text-decoration: underline;
}
.open .menu__contact .phone {
  margin-bottom: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .menu__contact .phone {
    margin-bottom: 50px;
    font-size: 14px;
  }
}
.open .mail__label {
  color: var(--btn-color);
  margin-bottom: 16px;
}
.open .mail__to {
  font-size: 32px;
  font-weight: 900;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .mail__to {
    font-size: 24px;
  }
}
.open .mail__to_vector {
  margin: 6px 16px;
  fill: var(--content-color);
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .open .mail__to_vector {
    margin: 3px 10px;
  }
}

.welcome {
  position: relative;
  height: 100%;
}

@-webkit-keyframes title-change {
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes title-change {
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.welcome__title {
  background-color: var(--bg-color-second);
  position: relative;
  width: 100%;
  min-height: 100vh;
  top: 0;
  padding: 80px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .welcome__title {
    padding: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .welcome__title {
    padding: 20px;
  }
}
.welcome__title .welcome__title_text {
  z-index: 2;
  position: absolute;
  top: calc(50% - 80px);
  font-size: 80px;
  font-weight: 900;
  color: var(--welcome-title-color);
  right: calc(50% - 160px);
  -webkit-animation: title-change 2.5s linear;
          animation: title-change 2.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .welcome__title .welcome__title_text {
    top: calc(50% - 60px);
    right: calc(50% - 120px);
    font-size: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .welcome__title .welcome__title_text {
    top: 25%;
    right: 0;
    font-size: 60px;
    -webkit-animation: title-adapt 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
            animation: title-adapt 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
    left: calc(50% - 120px);
  }
}

@-webkit-keyframes page-change {
  80%, 100% {
    transform: translateX(50%);
  }
}

@keyframes page-change {
  80%, 100% {
    transform: translateX(50%);
  }
}
@-webkit-keyframes page-content-adapt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes page-content-adapt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes title-adapt {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes title-adapt {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.welcome__page {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color-first);
  color: var(--content-color);
  left: -50%;
  text-align: right;
  padding: 80px;
  -webkit-animation: page-change 2.5s linear;
          animation: page-change 2.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  transition-duration: 2s;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .welcome__page {
    padding: 60px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .welcome__page {
    padding: 20px;
  }
}

.welcome__page_content {
  position: absolute;
  max-width: 500px;
  text-align: left;
  margin-left: 160px;
  transition-duration: 1000ms;
}
@media screen and (min-width: 1440px) {
  .welcome__page_content {
    top: calc(50% - 160px);
  }
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .welcome__page_content {
    margin-left: 120px;
    top: calc(50% - 120px);
    max-width: 400px;
    -webkit-animation: page-content-adapt 5s linear;
            animation: page-content-adapt 5s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 729px) {
  .welcome__page_content {
    max-width: 400px;
    margin-left: 40px;
    bottom: 40px;
    -webkit-animation: page-content-adapt 5s linear;
            animation: page-content-adapt 5s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 500px) {
  .welcome__page_content {
    max-width: 300px;
    margin-left: 0;
    bottom: 20px;
    -webkit-animation: page-content-adapt 5s linear;
            animation: page-content-adapt 5s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

.welcome__page_label {
  color: var(--welcome-page-label-color);
}

.welcome__page_title {
  margin-bottom: 32px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .welcome__page_title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .welcome__page_title {
    margin-bottom: 18px;
  }
}

.parallax__img1 {
  background-image: url("../img/img3.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 729px) {
  .parallax__img1 {
    display: none;
  }
}

.section {
  min-height: 100%;
  width: 100%;
  padding: 80px 160px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .section {
    padding: 60px 150px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .section {
    padding: 20px;
  }
}

.section__title {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 80px;
}
@media screen and (max-width: 1439px) {
  .section__title {
    font-size: 60px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .section__title {
    font-size: 40px;
  }
}

.section__item {
  max-width: 600px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1439px) {
  .section__item {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 300px) and (max-width: 729px) {
  .section__item {
    width: 100%;
  }
}

.section__item_name {
  margin-bottom: 30px;
}
@media screen and (max-width: 1439px) {
  .section__item_name {
    margin-bottom: 20px;
  }
}

.section__item_link {
  margin-bottom: 0;
}
.section__item_link svg {
  margin: 2px 8px;
  fill: var(--btn-color);
}

.skills-block {
  background-color: var(--bg-color-second);
  color: var(--skills-experience-color);
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .skill {
    display: block;
    text-align: left;
    margin-bottom: 24px;
  }
}

.skills-block_title {
  margin-bottom: 32px;
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .skills-block_title {
    margin-bottom: 24px;
  }
}

.skill__name {
  font-size: 32px;
}
@media screen and (max-width: 1439px) {
  .skill__name {
    font-size: 24px;
  }
}

.skill__bar {
  height: 14px;
  background-color: var(--bg-color-second);
  border-radius: 7px;
  flex: 0 1 680px;
  border: 1px solid var(--skill-bar-color);
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .skill__bar {
    flex: 0 1 680px;
  }
}

@-webkit-keyframes progress-bar {
  0% {
    width: 14px;
    height: 14px;
  }
}

@keyframes progress-bar {
  0% {
    width: 14px;
    height: 14px;
  }
}
.active .skill__bar_per {
  height: 14px;
  background-color: var(--skill-bar-color);
  border-radius: 7px;
  -webkit-animation: progress-bar 5s;
          animation: progress-bar 5s;
  margin: -1px;
}

.projects {
  background: var(--bg-color-prjects);
  position: relative;
}

.projects__img {
  background-image: url("../img/img2.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}

.section__projects {
  position: relative;
  color: var(--color-prjects);
}

.projects__title {
  color: var(--title-prjects);
  line-height: 1.2;
  opacity: 0;
}

.mylib {
  opacity: 0;
}

.layout {
  opacity: 0;
}

@-webkit-keyframes img_none {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes img_none {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.animated .projects__img {
  -webkit-animation: img_none 2s;
          animation: img_none 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animated .section__item {
  opacity: 1;
  transition: all 1s ease 1s;
}
.animated .projects__title {
  opacity: 1;
  transition: all 1s ease 1s;
}

.experience {
  background-color: var(--bg-color-second);
  color: var(--skills-experience-color);
}

.experience .section__item_name {
  margin-bottom: 0;
}
.experience .section__item_description {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  padding: 80px;
  background-color: var(--bg-color);
}
@media screen and (min-width: 730px) and (max-width: 1439px) {
  .footer {
    padding: 60px;
  }
}
@media screen and (max-width: 729px) {
  .footer {
    padding: 40px;
  }
}
.footer .menu__contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .footer .menu__contact {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.footer .menu__contact .phone {
  margin-bottom: 0;
}
@media screen and (max-width: 1439px) {
  .footer .menu__contact .phone {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .footer .menu__contact .phone {
    padding-top: 20px;
  }
}
.footer .mail__to {
  font-size: 32px;
  font-weight: 900;
}
@media screen and (min-width: 500px) and (max-width: 1439px) {
  .footer .mail__to {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .footer .mail__to {
    font-size: 18px;
  }
}

.mail__to_vector {
  margin: 5px 16px;
  fill: var(--content-color);
}
@media screen and (max-width: 1439px) {
  .mail__to_vector {
    margin: 3px 10px;
  }
}
@media screen and (max-width: 500px) {
  .mail__to_vector {
    margin: 2px 5px;
  }
}/*# sourceMappingURL=style.css.map */