.border > *
    position: fixed
    z-index: 20
    background: var(--border-color)

.border__top
    top: 0
    left: 0
    width: 100%
    height: 80px

.border__bottom
    bottom: 0
    left: 0
    width: 100%
    height: 80px

.border__left
    top: 0
    left: 0
    height: 100%
    width: 80px

.border__right
    top: 0
    right: 0
    height: 100%
    width: 80px

@media only screen and (min-width: 1024px) and (max-width: 1439px)
.border__top
    height: 60px

.border__bottom
    height: 60px

.border__left
    width: 60px

.border__right
    width: 60px
