.border > *
    position: fixed
    z-index: 20
    background: var(--border-color)

.border__top
    top: 0
    left: 0
    width: 100%
    height: 80px
    @media screen and (min-width: $large) and (max-width: $vlarge) 
        height: 60px
    @media screen and (min-width: $small) and (max-width: $medium) 
        height: 0

.border__bottom
    bottom: 0
    left: 0
    width: 100%
    height: 80px
    @media screen and (min-width: $large) and (max-width: $vlarge) 
        height: 60px
    @media screen and (min-width: $small) and (max-width: $medium) 
        height: 0

.border__left
    top: 0
    left: 0
    height: 100%
    width: 80px
    @media screen and (min-width: $large) and (max-width: $vlarge) 
        width: 60px
    @media screen and (min-width: $small) and (max-width: $medium) 
        width: 0

.border__right
    top: 0
    right: 0
    height: 100%
    width: 80px
    @media screen and (min-width: $large) and (max-width: $vlarge) 
        width: 60px
    @media screen and (min-width: $small) and (max-width: $medium) 
        width: 0

