.burger
    position: fixed
    top: 50%
    z-index: 25
    display: block
    width: 48px
    height: 31px
    cursor: pointer
    @media screen and (min-width: $big)
      left: 53px 
      &:hover    
        &:before, &:after, & .burger__line    
          transform: rotate(180deg) scaleY(1.7)
          transition: all 0.3s linear 0s
        & .burger__line
          left: 0 
    @media screen and (min-width: $large) and (max-width: $vlarge)
      left: 35px
    @media screen and (min-width: $small) and (max-width: $medium) 
      top: 25px
      right: 25px
      height: 48px
      background: var(--bg-color)
      opacity: 0.7
      border-radius: 50%

    &:before, &:after
        content: ""
        background-color: var(--btn-color)
        position: absolute
        width: 48px
        height: 3px
        left: 0
        transition: all .3s ease 0s
        @media screen and (min-width: $small) and (max-width: $medium) 
          width: 26px
          height: 2px
          left: 8px

    &:before
        top: 0
        @media screen and (min-width: $small) and (max-width: $medium) 
          top: 17px

    &:after
        bottom: 0
        @media screen and (min-width: $small) and (max-width: $medium) 
          bottom: 17px

.burger__line
  background-color: var(--btn-color)
  position: absolute
  left: 8px
  width: 48px
  height: 3px
  top: 14px
  transition: all 0.3s ease 0s
  @media screen and (min-width: $small) and (max-width: $medium) 
    width: 26px
    height: 2px
    top: 23px
    left: 14px

.open
  .burger
    display: block
    position: fixed
    top: 50%
    left: 22px
    z-index: 25
    &:hover    
        transform: rotate(180deg) scale(1.2)
        transition: all 0.3s linear 0s

    &:before, &:after
      background-color: var(--btn-color)
      top: 13px
      width: 32px

    &:before
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)

    .burger__line
      transform: scale(0)




