.burger
    position: fixed
    top: 50%
    z-index: 3
    display: block
    width: 48px
    height: 31px
    left: 53px

    &:before, &:after
        content: ""
        background-color: $btn-color
        position: absolute
        width: 48px
        height: 3px
        left: 0
        transition: all .3s ease 0s

    &:before
        top: 0

    &:after
        bottom: 0

.burger__line
  background-color: $btn-color
  position: absolute
  left: 8px
  width: 48px
  height: 3px
  top: 14px
  transition: all .3s ease 0s

.open
  .burger
    display: block
    position: fixed
    top: 50%
    left: 22px
    z-index: 5

    &:before, &:after
      background-color: $btn-color
      top: 13px
      width: 32px

    &:before
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)

    .burger__line
      transform: scale(0)

