.experience
    background-color: var(--bg-color-second)
    color: var(--skills-experience-color)

.experience
    & .section__item_name
        margin-bottom: 0
    & .section__item_description  
        margin-bottom: 10px
