.experience
    background: $bg-color-second
    padding: 80px 160px 

.experience__title
    color: $content-color
    margin-bottom: 80px

.experience__label
    color: $btn-color

.experience
    & .section__item_name
        color: $content-color
        margin-bottom: 0
    & .section__item_description    
        color: $content-color
        margin-bottom: 10px

@media only screen and (min-width: 1024px) and (max-width: 1439px)
