.experience
    background: $bg-color-second

.experience__title
    color: $content-color
    line-height: 1.2
    padding: 80px 160px 

.experience__label
    color: $btn-color

.experience
    & .section__item_name
        color: $content-color
        line-height: 1.2
        margin-bottom: 0
    & .section__item_description    
        color: $content-color
        line-height: 1.2
    & .section__item_link
        margin-left: 160px
