.footer
    width: 100%
    padding: 80px
    & .menu__contact
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        align-items: center
    & .label
        color: $btn-color
    & .mail__to
        font-size: 32px
        font-weight: 900

@media only screen and (min-width: 1024px) and (max-width: 1439px)