.wrapper   
    min-height: 100vh
    min-width: 1440px
    display: flex   
    font-family: $font-stack
    flex-direction: column
    color: $content-color
.main 
    display: flex
    flex-grow: 1
.footer 
    flex: 0 0 80px
