.body
    background: $bg-color-first
    min-width: 1440px
    min-height: 100vh
    
    .lock
        overflow: hidden

.wrapper
    font-family: $font-stack
    font-weight: $font-weight

.link
    text-decoration: none
    color: $content-color

.label
    font-size: 18px
    font-style: italic
    line-height: 1.2
    font-weight: $font-weight

.title    
    font-size: 32px
    font-weight: 900
    line-height: 1.2

.text
    font-size: 32px
    font-weight: 400
    line-height: 1.2

.scroll
    position: fixed
    z-index: 25
    bottom: 40px
    right: 50%

.open
    .scroll
        right: 80px

.off
    .scrolld
        opacity: 0

.section__title
    font-size: 80px
    font-weight: 900
    line-height: 1.2

.back-to-top
    fill: $btn-color
    position: fixed
    bottom: -100px
    right: 44px
    cursor: pointer
    transition: 0.3s all
    z-index: 35
    text-decoration: none  
    padding: 10px 12px
    & svg
        transform: rotate(180deg)

.active-btn
  bottom: 50px
  transition: 0.4s all