.parallax__img1
    background-image: url("../img/img3.png")
    min-height: 100vh
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

@media only screen and (min-width: 1024px) and (max-width: 1439px)
