.logo
   position: fixed
   font-size: 18px
   top: 43px
   left: 80px
   z-index: 25
   @media screen and (min-width: $large) and (max-width: $vlarge)
      font-size: 16px
      top: 30px
      left: 60px
   @media screen and (min-width: $small) and (max-width: $medium)
      position: absolute
      font-size: 14px
      top: 20px
      left: 20px
      z-index: 1

