.menu
    position: fixed
    top: 0
    min-height: 100vh
    background: var(--bg-color)
    transition: 0.7s ease 0s
    @media screen and (min-width: $big)
        width: 50%
        left: -50%
    @media screen and (min-width: $large) and (max-width: $lmedium)
        width: 100%
        left: -100%
    @media screen and (min-width: $small) and (max-width: $medium) 
        width: 100%
        left: -100%
    & .nav-social
        display: none

.open
    .menu
        z-index: 4
        left: 0
        display: block
        padding: 160px  
        transition: 0.7s ease 0s
        @media screen and (min-width: $large) and (max-width: $vlarge)
            padding: 120px 120px 32px
        @media screen and (min-width: $small) and (max-width: $medium)
            padding: 80px 60px 40px

    .menu__list
        margin-bottom: 80px
        @media screen and (max-width: $vlarge)
            margin-bottom: 50px

    .menu__item
        margin-bottom: 32px
        @media screen and (max-width: $vlarge)
            margin-bottom: 24px

        &:last-child
            margin-bottom: 0

    .menu__item_link
        font-size: 32px
        font-weight: 900
        @media screen and (max-width: $vlarge)
            font-size: 24px
        &:hover 
            font-size: 36px
            transition: all 0.2s linear 0s
            text-decoration: underline
    
    .menu__contact
        .phone
            margin-bottom: 80px
            @media screen and (max-width: $vlarge)
                margin-bottom: 50px
                font-size: 14px

    .mail__label
        color: var(--btn-color)
        margin-bottom: 16px
    
    .mail__to
        font-size: 32px
        font-weight: 900
        @media screen and (max-width: $vlarge)
            font-size: 24px

    .mail__to_vector
        margin: 6px 16px
        fill: var(--content-color)
        @media screen and (max-width: $vlarge)
            margin: 3px 10px



