.nav-social
    position: fixed
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    right: 0
    top: 0
    width: 80px 
    align-items: center
    
    .nav-social__link
        margin: 10px

