.open
    .scroll
        right: 80px
        @media screen and (min-width: $large) and (max-width: $vlarge)
            right: 60px

    .wrapper
        padding-left: 50%

    .welcome__title
        transform: translateX(-50%) scale(1)
        transition-duration: 1000ms linear 0s

    .welcome__page
        right: 0
        transform: translateX(50%) scale(1)
        transition: 500ms linear 0s

    .welcome__page_content
        margin-left: 0
        @media screen and (min-width: $vmedium) and (max-width: $vlarge)
            margin-left: 50%
        @media screen and (min-width: $lmedium) and (max-width: $smedium) 
            margin-left: 45%

    .section
        padding-left: 20px
    .footer
        padding-left: 20px
    
