.section
    min-height: 100vh
    width: 100%

.section__item
    max-width: 600px
    margin-bottom: 80px

.section__item_name
    margin-bottom: 30px
    color: $bg-color

.section__item_description
    color: $bg-color

.section__item_link
    color: $btn-color
    margin-bottom: 0
    & svg
        margin: 2px 8px

@media only screen and (min-width: 1024px) and (max-width: 1439px)
    