.section
    min-height: 100vh
    width: 100%

.section__item
    height: 100%
    max-width: 600px
    margin: 0 160px 80px

.section__item_name
    margin-bottom: 30px
    color: $bg-color
    line-height: 1.2

.section__item_description
    color: $bg-color
    line-height: 1.2

.section__item_link
    color: $btn-color
    line-height: 1.2
    margin-bottom: 80px
    & svg
        margin: 2px 8px
    