.skills-block
    background-color: var(--bg-color-second)
    color: var(--skills-experience-color)

.skill 
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 32px
    flex-wrap: wrap
    @media screen and (min-width: $large) and (max-width: $vlarge)
        display: block
        text-align: left
        margin-bottom: 24px

.skills-block_title
    margin-bottom: 32px
    @media screen and (min-width: $large) and (max-width: $vlarge)
        margin-bottom: 24px
    
.skill__name
    font-size: 32px
    @media screen and (max-width: $vlarge)
        font-size: 24px

.skill__bar
    height: 14px
    background-color: var(--bg-color-second)    
    border-radius: 7px
    flex: 0 1 680px
    border: 1px solid var(--skill-bar-color)
    @media screen and (min-width: $large) and (max-width: $vlarge)
        flex: 0 1 680px

@keyframes progress-bar
  0%
    width: 14px
    height: 14px

.active
    & .skill__bar_per
        height: 14px
        background-color: var(--skill-bar-color)
        border-radius: 7px
        animation: progress-bar 5s
        margin: -1px