.theme-switcher
    position: fixed
    right: 80px
    top: 43px 
    z-index: 25   
    background: none
    border: none
    cursor: pointer

.theme-switcher__sun, .theme-switcher__moon
    fill: var(--btn-color)

.theme-switcher__sun
    display: none

.dark-theme
    .theme-switcher__sun
        display: block
    .theme-switcher__moon
        display: none


@media only screen and (min-width: 1024px) and (max-width: 1439px)

.theme-switcher
    right: 60px
    top: 30px 
