.welcome
    position: relative
    height: calc(100vh - 160px)

.welcome__title
    background-color: $bg-color-second

    & .welcome__title_text
        font-size: 80px
        font-weight: 900
        line-height: 1.2    
        height: calc(100vh - 160px)
        display: flex
        align-items: center
        justify-content: center
        text-align: center